{% extends 'base_two.html' %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.product_icon').tooltip({
                placement: 'bottom',
                delay: { show: 200 }
            });

            $('.product_box').mosaic({
                animation: 'fade',
                anchor_y: 'top'});
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('pages.index') }}">
            Главная
        </a>
        <span class="divider"> &rarr; </span>
    </li>
    <li>
        <a href="{{ url_for('pages.catalogue') }}">Каталог</a>
        <span class="divider"> &rarr; </span>
    </li>
    <li class="active">
        Категория «{{ category.name }}»
    </li>
{% endblock %}

{% block aside %}
    {{ get_aside(active='category', key_id=key_id)|safe }}
{% endblock %}

{% block content %}
    <h2>Категория <big>«{{ category.name }}»</big></h2>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-success disabled">
                Паказать как
            </a>
            <a class="btn {% if session.get('product_view_type') == 1 %} active {% endif %}"
               href="?product_view_type=1">
                <i class="icon-th-large"></i> Плитка
            </a>
            <a class="btn {% if session.get('product_view_type') == 2 %} active {% endif %}"
               href="?product_view_type=2">
                <i class="icon-th"></i> Иконки
            </a>
            <a class="btn {% if session.get('product_view_type') == 3 %} active {% endif %}"
               href="?product_view_type=3">
                <i class="icon-th-list"></i> Таблица
            </a>
        </div>
    </div>
    {% if session.get('product_view_type') == 1 %}
        {% include 'pages/products_ul.html' %}
    {% endif %}
    {% if session.get('product_view_type') == 2 %}
        {% include 'pages/products_icon.html' %}
    {% endif %}
    {% if session.get('product_view_type') == 3 %}
        {% include 'pages/products_table.html' %}
    {% endif %}
{% endblock %}
