{% extends 'base.html' %}

{% block meta_keywords %}
  3dhero опт контакты
{% endblock %}

{% block meta_description %}
  3DHero - это широкий выбор коллекционных фигурок из популярных
  фильмов, комиксов, аниме и игр оптом.
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{{ url_for('pages.index') }}">Главная</a>
    <span class="divider"> &rarr; </span>
  </li>
  <li class="active">
    Контакты
  </li>
{% endblock %}

{% block content %}
  <div class="row" itemscope itemtype="http://schema.org/Organization">
    <div class="span12">
      <h1 class="page-header">
        Контакты
      </h1>
    </div>
    {% for contact in contacts %}
      <div class="span12">
        {% if contact.geo %}
          <div class="oh">
            <div id="map_{{ contact.key.id() }}"
                 style="height: 300px; width: 480px;">
            </div>
          </div>
        {% endif %}
        <div class="oh">
          <div style="margin-left: 30px;">
            <h2 itemprop="name">{{ config.BRAND_NAME }}</h2>
            <p itemprop="description" style="text-align: justify">
              3DHero - это широкий выбор коллекционных фигурок из популярных
              фильмов, комиксов, аниме и игр оптом. Мы работаем без посредников и
              являемся официальными партнерами крупнейших производителей.
            </p>
          </div>
          <dl class="dl-horizontal" itemscope itemtype="http://schema.org/PostalAddress">
            {% if contact.zip_code %}
              <dt>Индекс</dt>
              <dd itemprop="postalCode">{{ contact.zip_code }}</dd>
            {% endif %}
            {% if contact.city %}
              <dt>Город</dt>
              <dd itemprop="addressLocality">{{ contact.city }}</dd>
            {% endif %}
            {% if contact.address %}
              <dt>Адрес</dt>
              <dd itemprop="streetAddress">{{ contact.address }}</dd>
            {% endif %}
            {% if contact.telephones %}
              <dt>Телефон</dt>
              <dd itemprop="telephone">{{ contact.telephones }}</dd>
            {% endif %}
            {% if contact.faxes %}
              <dt>Факс</dt>
              <dd itemprop="faxNumber">{{ contact.faxes }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
    {% endfor %}

    {% if managers.count() %}
      <div class="span12">
        <h2>Сотрудники</h2>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>
              Имя
            </th>
            <th>
              Мобильный
            </th>
            <th>
              Телефон
            </th>
            <th>
              Email
            </th>
            <th>
              ICQ
            </th>
            <th>
              Skype
            </th>
          </tr>
          </thead>
          <tbody>
          {% for manager in managers %}
            <tr itemscope itemtype="http://schema.org/Person">
              <td itemprop="name">
                {{ manager.name }}
              </td>
              <td itemprop="telephone">
                {{ manager.mobile }}
              </td>
              <td itemprop="telephone">
                {{ manager.telephone }}
              </td>
              <td itemprop="email">
                {% if manager.email %}
                  <a href="mailto:{{ manager.email }}">
                    {{ manager.email }}
                  </a>
                {% endif %}
              </td>
              <td>
                {% if manager.icq %}
                  {{ manager.icq }}
                  <img
                      src="http://web.icq.com/whitepages/online?icq={{ manager.icq }}&amp;img=5"
                      alt="Статус">
                {% endif %}
              </td>
              <td>
                {% if manager.skype %}
                  <a href="skype:{{ manager.skype }}?call">
                    {{ manager.skype }}
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  {% for contact in contacts %}
    {% if contact.geo %}
      <script>
        var map_{{ contact.key.id() }};
        $(document).ready(function () {
          map_{{ contact.key.id() }} = new GMaps({
            div: '#map_{{ contact.key.id() }}',
            zoom: 16,
            lat: {{ contact.geo.lat }},
            lng: {{ contact.geo.lon }}
          });
          map_{{ contact.key.id() }}.addMarker({
            lat: {{ contact.geo.lat }},
            lng: {{ contact.geo.lon }},
            title: '{{config.BRAND_NAME}}',
            infoWindow: {
              content: '<h3>{{config.BRAND_NAME}}</h3>фигурки героев оптом'
            }
          });
        });
      </script>
    {% endif %}
  {% endfor %}
{% endblock %}