{% extends 'base.html' %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.product_box').mosaic({
                animation: 'fade',
                anchor_y: 'top'});
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">
        Главная
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>{{ config.BRAND_NAME }} - популярные герои оптом</h1>
                    {% if product_count %}
                        <h5>
                            <a href="{{ url_for('pages.catalogue') }}">
                                <i>Более {{ product_count }} позиций товаров</i>
                            </a>
                        </h5>
                    {% endif %}
                    {% if brands_count %}
                        <h5>
                        <a href="{{ url_for('pages.catalogue') }}">
                        <i>Более {{ brands_count }} брендов и производителей</i>
                        </a>
                        </h5>
                    {% endif %}
                    {% if series_count %}
                        <h5>
                        <a href="{{ url_for('pages.catalogue') }}">
                        <i>Более {{ series_count }} категорий и серий</i>
                        </a>
                        </h5>
                    {% endif %}
                    <h2>
                    {% for ser in series %}
                        <a href="{{ url_for('pages.series', key_id=ser.key.id()) }}">
                            {{ ser.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <h2>Новости</h2>
            {% if not posts %}
                Новостей нет
            {% else %}
                {% for post in posts %}
                    {% include 'blog/post_box.html' %}
                {% endfor %}

            {% endif %}
        </div>
        <div class="span6 offset1">
            <h2>Последние поступления</h2>
            {% if not products %}
                Свободная для заказа продукция отсуствует
            {% else %}
                {% include 'pages/product_ul_list.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
