<ul class="thumbnails">
    {% for product in products.object_list %}
        <li>
            <div class="thumbnail">
                <a href="{{ product.url }}">
                    <img class="product_icon"
                    title="{{ product.strip_name }}"
                    {% if product.images_list %}
                        src="{{ product.images_list[0].url }}=s70-c"
                    {% else %}
                        src="/p/img/none/70x70.jpg"
                    {% endif %}
                    alt="{{ product.strip_name }}"
                    width="70" height="70"
                    />
                </a>
            </div>
        </li>

    {% endfor %}
</ul>
