<li class="product_box mosaic-block m-fade span3">
    <a href="{{ product.url }}" class="mosaic-overlay">
        <span class="details">
            <h1>{{ product.name }}</h1>
            Цена: {{ product.price_retail }}<br>
            {% if current_user.is_order_box %}
                Цена опт: {{ product.price_trade }}
            {% endif %}
        </span>
    </a>
    <a href="{{ product.url }}"
       class="mosaic-backdrop product_img_container">
        <img
            {% if product.images_list %}
                src="{{ product.images_list[0].url }}=s200-c"
            {% else %}
                src="/p/img/none/200x200.jpg"
            {% endif %}
        width="200" height="200"
        style="height: 200px; width: 200px; float: left;">
        {% if product.badge %}
            <span class="badge badge-info badge_badge">{{ product.badge }}</span>
        {% endif %}
        {% if product.leftovers_on_way %}
            {% if current_user.admin %}
                <span class="badge badge-warning badge_leftovers">{{ product.leftovers_on_way }} шт. в пути</span>
            {% else %}
                <span class="badge badge-warning badge_leftovers">В пути</span>
            {% endif %}
        {% else %}
            {% if not product.leftovers %}
                <span class="badge badge-important badge_leftovers">Отсуствует</span>
            {% else %}
                {% if current_user.admin %}
                    <span class="badge badge-success badge_leftovers">{{ product.leftovers }} шт.</span>
                {% else %}
                    {% if product.leftovers > 10 %}
                        <span class="badge badge-success badge_leftovers">Много</span>
                    {% else %}
                        <span class="badge badge-info badge_leftovers">Мало</span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </a>
</li>