<table class="table table-bordered table-striped table-condensed table-centred">
    <thead>
        <tr>
            <th>Изображение</th>
            <th>Название</th>
            <th>Поступление</th>
            <th>Наличие</th>
            <th class="{sorter: 'digit'}">РРЦ, руб.</th>
            <th class="{sorter: 'digit'}">Цена опт, руб.</th>
            <th>Заказ</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products.object_list %}
            <tr>
                <td style="text-align: center">
                    <a href="{{ product.url }}">
                        <img
                        title="{{ product.strip_name }}"
                        {% if product.images_list %}
                            src="{{ product.images_list[0].url }}=s70-c"
                        {% else %}
                            src="/p/img/none/30x30.jpg"
                        {% endif %}
                        alt="{{ product.strip_name }}"
                        width="70" height="70"
                        />
                    </a>
                </td>
                <td class="span2">
                    <a href="{{ product.url }}">
                        {{ product.name }}
                    </a>
                </td>
                <td>
                    {% if product.leftovers_on_way %}
                        {% if current_user.admin %}
                            {{ product.leftovers_on_way }} шт. в пути<br>
                        {% else %}
                            {% if product.leftovers_on_way > 10 %}
                                Много
                            {% else %}
                                Мало
                            {% endif %}
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if not product.leftovers %}
                        Отсуствует
                    {% else %}
                        {% if current_user.admin %}
                            {{ product.leftovers }} шт.
                        {% else %}
                            {% if product.leftovers > 10 %}
                                Много
                            {% else %}
                                Мало
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ '%0.2f'|format(product.price_retail) }}
                </td>
                <td>
                    {% if current_user.is_order_box %}
                        {{ '%0.2f'|format(product.price_trade) }}
                    {% else %}
                        <a href="{{url_for('auth.login')}}">
                            авторизироваться
                        </a>
                    {% endif %}
                </td>
                <td>
                    {{ product.order_count }} шт.
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
