{% extends 'base_two.html' %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.product_box').mosaic({
                animation: 'fade',
                anchor_y: 'top'});
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('pages.index') }}">
            Главная
        </a>
        <span class="divider"> &rarr; </span>
    </li>
    <li>
        <a href="{{ url_for('pages.catalogue') }}">Каталог</a>
        <span class="divider"> &rarr; </span>
    </li>
    <li class="active">
        Серия «{{ series.name }}»
    </li>
{% endblock %}

{% block aside %}
    {{ get_aside(active='series', key_id=key_id)|safe }}
{% endblock %}

{% block content %}
    <h2>Серия <big>«{{ series.name }}»</big></h2>
    {% include 'pages/products_ul.html' %}
{% endblock %}
