.oh,.ot,.tt{float:left;padding:0 2% 2% 0;width:48%}.ot{width:31%}.tt{width:65%}.cl{clear:both}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(/p/img/background.png);
}

.well {
  background-color: rgba(245, 245, 245, 0.5);
}

.hero-unit {
  background-color: rgba(220, 220, 220, 0.5);
}

section {
  padding-top: 30px;
  & > .page-header, & > .lead{
    color: #5A5A5A;
  }
}

h1 { font-size: 30px; line-height: 34px; }
h2 { font-size: 26px; line-height: 34px; }
h3 { font-size: 22px; line-height: 34px; }
h4 { font-size: 17px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 13px; }
