{{ form.csrf }}
{% set form_field = form.name %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.email %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.mobile %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.telephone %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.fax %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.icq %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.skype %}
{% include 'bit/form_text_field.html' %}

{% set form_field = form.is_public %}
{% include 'bit/form_text_field.html' %}