<div class="hero-unit" style="padding: 20px;">
    {% if count %}
        <div class="alert alert-success">
            Товар ({{ count }} шт.) добавлен в предзаказ
            <a href="#" class="close" data-dismiss='alert'>
            &times;
            </a>
        </div>
    {% endif %}
    <form class="order_form" method="POST" action="{{ url }}">
        <fieldset>
        {{ form.csrf }}
        {% set form_field = form.count %}
        {% include 'bit/form_text_field_small.html' %}
        {% if change %}
            <button type="submit"
                    class="btn btn-primary btn-loading add_to_cart"
                    data-loading-text="Изменение предзаказа...">
                <i class="icon-white icon-pencil"> </i>
                Изменить количество
            </button>
            <button type="submit"
                    name='order_clear'
                    class="btn btn-warning btn-loading remove_from_cart"
                    data-loading-text="Изменение предзаказа...">
                <i class="icon-white icon-trash"> </i>
                Удалить из заказа
            </button><br>
            или
            <a href="{{ url_for('order.cart_view') }}">
                Оформить заказ
            </a>
        {% else %}
            <button type="submit"
                    class="btn btn-primary btn-loading add_to_cart"
                    data-loading-text="Добавление в предзаказ...">
                <i class="icon-white icon-shopping-cart"> </i>
                Заказ
            </button>
        {% endif %}
        </fieldset>
    </form>
</div>
