{% extends 'file/admin/folders.html' %}

{% block header %}
  <div class="row">
    <div class="span12">
      <a href="{{ url_for('admin.file.index') }}" class="btn">&larr; Назад</a><br>
    </div>
  </div>
{% endblock %}

{% block side %}
  <h2 class="page-header">Редактирование папки</h2>
  <form class="form-actions" method="POST" action="">
    <fieldset>
      {% include 'file/admin/folder_fields.html' %}

      <div class="form-actions">
        <button type="submit"
                class="btn btn-primary btn-loading"
                data-loading-text="Сохранение..">
          Сохранить
        </button>
        <button type="submit"
                name="delete_folder"
                class="btn btn-primary btn-loading btn-danger"
                data-loading-text="Удаление..">
          Удалить
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}

{% block file_content %}
  <h2 class="page-header">Добавление файла</h2>
  <form method="POST" action="{{ add_url }}" enctype="multipart/form-data">
    {{ file_form.csrf }}
    {% set form_field = file_form.file %}
    {% include 'bit/form_text_field.html' %}
    <div class="form-actions">
      <button type="submit"
              class="btn btn-primary btn-loading"
              data-loading-text="Добавление..">
        Добавить
      </button>
    </div>
  </form>
{% endblock %}

{% block other %}
  <h2>Файлы</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="span2">Название</th>
      <th class="span1">Тип</th>
      <th>Ссылка</th>
      <th>Операции</th>
    </tr>
    </thead>
    <tbody>
    {% for f in folder.files %}
      {% set file=f.get() %}
      <tr>
        <td>{{ file.title_filename }}</td>
        <td>
          {% if file.is_image %}
            <img src="{{ file.url }}=s100">
          {% else %}
            Документ
          {% endif %}
        </td>
        <td>
          {% if file.is_image %}
            <a href="{{ file.url }}">Ссылка на оригинальное изображение</a><br>
            <a href="{{ file.url }}=s250">Ссылка на уменьшенное до 250px</a><br>
            <a href="{{ file.url }}=s300">Ссылка на уменьшенное до 300px</a><br>
            <a href="{{ file.url }}=s350">Ссылка на уменьшенное до 350px</a><br>
            <a href="{{ file.url }}=s400">Ссылка на уменьшенное до 400px</a><br>
          {% else %}
            <a href="{{ file.url }}">Ссылка на файл</a>
          {% endif %}
        </td>
        <td>
          <form method="POST" action="{{ url_for('admin.file.del_file', key_id=folder.key.id(), file_key=f.id()) }}">
            <button type="submit" class="btn-danger">
              Удалить
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}