{% extends 'admin.html' %}

{% block content %}
    <div class="page-header">
        <h1>Категории</h1>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Новая категория</h2>
            {% include 'product/admin/category/form.html' %}
        </div>

        <div class="span8">
            <h2>Существующие категории</h2>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Публичная?
                    </th>
                    <th>
                        Кол-во
                    </th>
                    <th>
                        Скрытое кол-во
                    </th>
                    <th>
                        Операции
                    </th>
                </tr>
            </thead>
            {% for category in categories %}
                <tr>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        {% if category.is_public %}
                            Да
                        {% else %}
                            Нет
                        {% endif %}
                    </td>
                    <td>
                        ({{ category.product_count }})
                    </td>
                    <td>
                        ({{ category.hide_product_count }})
                    </td>
                    <td>
                        <a href="{{ url_for('admin.product.category_edit', key_id=category.key.id()) }}">
                            Редактировать
                        </a>
                    </td>

            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}