{% extends 'admin.html' %}

{% block content %}
    <div class="page-header">
        <h1>Бренды</h1>
    </div>
    <div class="row">
        <div class="span6">
            <h2>Новый бренд</h2>
            {% include 'product/admin/brand/form.html' %}
        </div>

        <div class="span6">
            <h2>Существующие бренды</h2>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Публичная?
                    </th>
                    <th>
                        Кол-во
                    </th>
                    <th>
                        Скрытое кол-во
                    </th>
                    <th>
                        Операции
                    </th>
                </tr>
            </thead>
            {% for brand in brands %}
                <tr>
                    <td>
                        {{ brand.name }}
                    </td>
                    <td>
                        {% if brand.is_public %}
                            Да
                        {% else %}
                            Нет
                        {% endif %}
                    </td>
                    <td>
                        ({{ brand.product_count }})
                    </td>
                    <td>
                        ({{ brand.hide_product_count }})
                    </td>
                    <td>
                        <a href="{{ url_for('admin.product.brand_edit', key_id=brand.key.id()) }}">
                            Редактировать
                        </a>
                    </td>

            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}