<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <a class="brand" href="{{url_for('pages.index')}}">
                        <img src="/p/img/logo.png" style="height: 30px;">
                        {{ config.BRAND_NAME }}
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Информация <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">
                                Контакты
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('feedback.index')}}">
                                Обратная связь
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="">
                        <i class="icon-shopping-cart"></i>
                        Корзина
                        (
                        {% if session.get('cart_status') %}
                            {{ session.cart_status.get('items_count', 0) }}
                        {% else %}
                        0
                        {% endif %}
                        )
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
