<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <ul class="nav span2">
                <li>
                    <a class="brand" href="{{url_for('pages.index')}}">
                        <img src="/p/img/logo.png" style="height: 30px;" alt="logo">
                        {{ config.BRAND_NAME }}
                    </a>
                </li>
            </ul>

{#            <ul class="nav span4">#}
{#                <li class="pull-right">#}
{#                    <form class="form-search" action="">#}
{#                        <div class="input-append">#}
{#                            <input#}
{#                                type="text"#}
{#                                placeholder="Введите текст для поиска"#}
{#                                style="margin-top: 6px;">#}
{#                            <button type="submit" class="btn">Поиск</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </li>#}
{#            </ul>#}

            <ul class="nav span7">
                <li>
                    <a href="{{ url_for('blog.index') }}">Новости</a>
                </li>
                <li>
                    <a href={{ url_for('pages.catalogue') }}>
                        Каталог
                    </a>
                </li>
                <li>
                    <a href={{ url_for('price.index') }}>
                        Прайсы/файлы
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('pages.contacts') }}">
                        Контакты
                    </a>
                </li>
                <li>
                    <a href="{{url_for('feedback.index')}}">
                        Обратная связь
                    </a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li class="cart_box">
                </li>
            </ul>
        </div>
    </div>
</div>
