{% extends 'admin.html' %}

{% block title %}
    Контакты -
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1 class="page-header">
            <a href="{{ url_for('admin.manager.index') }}">&larr; Назад</a>
            Добавление нового контакты
        </h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <form class="form-horizontal" method="POST">
            <fieldset>
                {% include 'admin/contact/fields.html' %}

                <div class="form-actions">
                    <button type="submit"
                            class="btn btn-primary btn-loading"
                            data-loading-text="Добавление...">
                        Добавить
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}