{% if sections %}
    <ul class="nav nav-tabs nav-stacked aside">
        {% for section in sections %}
            {% if section.public_product_count %}
            <li {% if section.key.id() == key_id %}class="active"{% endif %}>
                <a href="{{ url_for('pages.%s' % active, key_id=section.key.id()) }}">
                    {{ section.name }}
                    {% if section.key.id() == key_id %}
                        <i class="icon-chevron-right"></i>
                    {% else %}
                        <i class="icon-plus"></i>
                    {% endif %}
                </a>
            </li>
            {% endif %}
        {% endfor %}

    </ul>
{% endif %}