{% if sections %}
    <a class="btn" href="{{ url_for('pages.last_incoming') }}">Последние поступления</a><br><br>
    <ul class="nav nav-tabs nav-stacked aside">
        {% for section in sections %}
            <li {% if section.key.id() == key_id %}class="active"{% endif %}>
                <a 
                  title="Переход к категории {{ section.name }}"
                  href="{{ url_for('pages.%s' % active, key_id=section.key.id()) }}">
                    {{ section.name }}
                    {% if section.key.id() == key_id %}
                        <i class="icon-chevron-right"></i>
                    {% else %}
                        <i class="icon-plus"></i>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
