<!DOCTYPE html>
<html class="{{html_class}}" lang="ru" data-channel-name="{{channel_name}}">
  <head>
    <meta charset="utf-8">
    <meta name='yandex-verification' content='7a8238cea51f7e7d' />
    <title>
      {% block title %}
        {% if title %}
          {{title}} |
        {% endif %}
      {% endblock %}
      {{config.BRAND_NAME}} - герои оптом
    </title>

    {% include 'bit/style.html' %}
    {% block head %}{% endblock %}
    {% include 'bit/analytics.html' %}
  </head>

  <body>
    {% include 'bit/top_bar.html' %}
    {% include 'bit/bottom_bar.html' %}

    <div class="container">
        <div class="row">
            <div class="span9">
                <ul class="breadcrumb">
                    {% block breadcrumbs %}
                    {% endblock %}
                </ul>
            </div>
            <div class="span3">
                <form class="form-search pull-right" action="{{ url_for('search.index_form') }}" method="POST">
                    <div class="input-append">
                        <input type="text" class="input-medium search-query" id="query" name="query" placeholder="Поиск">
                        <button type="submit" class="btn btn-info"><i class="icon-search icon-white"></i></button>
                    </div>
                </form>
            </div>
            <hr>
        </div>
    </div>

    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    {% include 'bit/script.html' %}
    {% block scripts %}{% endblock %}

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21954142 = new Ya.Metrika({id:21954142, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/21954142" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  </body>
</html>
