<!DOCTYPE html>
<html class="{{html_class}}" lang="en" data-channel-name="{{channel_name}}">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% if title %}
          {{title}} |
        {% endif %}
      {% endblock %}
      {{config.BRAND_NAME}}
    </title>

    {% include 'bit/style.html' %}
    {% block head %}{% endblock %}
    {% include 'bit/analytics.html' %}
  </head>

  <body>
    {% include 'bit/top_bar.html' %}
    {% include 'bit/bottom_bar.html' %}

    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    {% block breadcrumbs %}
                    {% endblock %}
                </ul>
            </div>
            <div class="span4">
                <form class="form-search pull-right" action="{{ url_for('search.index') }}" method="POST">
                    <input type="text" class="input-medium search-query" id="query" name="query" placeholder="Введите текст">
                    <button type="submit" class="btn">Поиск</button>
                </form>
            </div>
            <hr>
        </div>
    </div>

    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    {% include 'bit/script.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
