{% extends 'base.html' %}

{% block container %}
<div class="row">
    {% if request.referrer %}
        <ul class="pager span2">
            <li><a href="{{ request.referrer }}">&larr; Назад</a></li>
        </ul>
    {% endif %}
    <div class="span12">
        <h2>{{ product.name }}</h2>
    </div>
    <div class="span6">
        {% if product.images %}
            <img src="{{ product.images[0] }}=s500">
        {% endif %}
    </div>
    <div class="span6">

            <dl class="dl-horizontal">
                {{ get_str_property('Цена', product.price_retail|string + ' pублей')|safe }}
                {{ get_str_property('Цена оптовая', product.price_trade|string + ' pублей')|safe }}
            </dl>

            <dl class="dl-horizontal">
                {{ get_str_property('Код 1C', product.id_1c)|safe }}
                {{ get_str_property('Артикул', product.catalogue_id)|safe }}
                {{ get_str_property('Штрих-код', product.barcode)|safe }}
            </dl>
            <dl class="dl-horizontal">
                {{ get_str_property('Страна-производитель', product.country)|safe }}
                {{ get_str_property('Материал', product.material)|safe }}
                {{ get_str_property('Размер', product.size)|safe }}
                {{ get_str_property('Вес', product.weight)|safe }}
            </dl>

            <dl class="dl-horizontal">
                {{ get_str_property('Тип упаковки', product.box_material)|safe }}
                {{ get_str_property('Размер упаковки', product.box_size)|safe }}
                {{ get_str_property('Вес упаковки', product.box_weight)|safe }}
                {{ get_str_property('Кол-во в упаковке', product.box_amount)|safe }}
            </dl>

            <dl>
                {{ get_str_property('Описание', product.description)|safe }}
            </dl>
    </div>
</div>
{% endblock %}