{% extends 'base.html' %}

{% block meta_keywords %}{{ meta_keywords }} {% if product.brand %}, {{ product.brand }} {% endif %}, {{ product.barcode }}, купить, оптом, розницу
{% endblock %}

{% block meta_description %} Купить '{{ product.strip_name }}' серии '{{ category.name }}' {% if product.brand %} фирмы {{ product.brand }}{% endif %}.
  Купить товар можно у 3dhero.ru на сайте или по телефону.
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('pages.index') }}">
            Главная
        </a>
        <span class="divider"> &rarr; </span>
    </li>
    <li>
        <a href="{{ url_for('pages.catalogue') }}">Каталог</a>
        <span class="divider"> &rarr; </span>
    </li>
    {% if category %}
        <li>
            <a href="{{ url_for('pages.category', key_id=category.key.id()) }}">
                Категория «{{ category.name }}»
            </a>
            <span class="divider"> &rarr; </span>
        </li>
    {% endif %}
    <li class="active">
        {{ product.name }}
    </li>
{% endblock %}

{% block container %}
    {{ super() }}
    <div class="row" itemscope itemtype="http://schema.org/Product">
        <div class="span12">
            {% if category %}
                <a class="btn"
                   href="{{ url_for('pages.category', key_id=category.key.id()) }}">
                    &larr; Перейти в каталог продукции
                </a>
            {% else %}
                <a class="btn" href="{{ url_for('pages.catalogue') }}">
                    &larr; Перейти в каталог продукции
                </a>
            {% endif %}
            <h1 itemprop="name">{{ product.name }}</h1>
        </div>
        <div class="span7">
            {% if product.images %}
                <div style="height: 400px;width: 400px;">
                    <img
                      itemprop="image"
                      class="img_preview"
                      title="{{ product.strip_name }}"
                      alt="{{ product.strip_name }}"
                      src="{{ product.images[0] }}=s400">
                </div>
                <br>
                <ul class="thumbnails">
                  {% if product.images|length > 1 %}
                    {% for image in product.images %}
                        <li>
                            <a class="thumbnail"
                               href="#"
                               onclick="$('.img_preview').attr('src', '{{ image }}=s400'); return false;">
                                <img
                                  itemprop="image"
                                  alt="миниатюра {{ product.strip_name }}"
                                  src="{{ image }}=s80">
                            </a>
                        </li>
                        {% if (loop.index is divisibleby 5) and (not loop.last) %}
                          <li style="width: 100%; height: 1px; padding: 0; margin: 0"></li>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                </ul>
            {% else %}
                <img src="/p/img/none/400x400.jpg" height="400" width="400">
            {% endif %}
            &nbsp;<br>

          {% if product.description or product.description_html %}
            {% if product.description_html %}
              {{ product.description_html|safe }}
            {% else %}
              {{ product.description|safe }}
            {% endif %}
          {% endif %}
        </div>
        <div class="span5">
            {% if current_user.admin %}
                <a class="btn btn-large"
                   href="{{ url_for('admin.product.edit', key_id=product.key.id()) }}">
                    Редактировать
                </a>
            {% endif %}
            <dl class="dl-horizontal" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {{ get_str_property('Цена розничная', product.price_retail|string + ' pуб.', "price")|safe }}
                {% if current_user.id <= 0 %}
                  <dt>Цена оптовая:</dt>
                  <dd>Необходимо <a href="{{ url_for('auth.login') }}">
                    <i class="icon-user"></i>авторизироваться </a>
                  </dd>
                {% else %}
                  {% if current_user.is_order_box %}
                    {{ get_str_property('Цена оптовая', product.price_trade|string + ' pуб.')|safe }}
                  {% else %}
                    <dt>Цена оптовая:</dt>
                    <dd>Необходим
                      <a href="{{ url_for('auth.profile') }}">
                        <i class="icon-pencil"></i> запрос на сотрудничество
                      </a>
                    </dd>
                  {% endif %}
                {% endif %}

                {% if product.leftovers_on_way %}
                    {% if current_user.admin %}
                        {{ get_str_property('Осаток в пути', product.leftovers_on_way|string + ' шт. в пути')|safe }}
                    {% else %}
                        {{ get_str_property('Поступление на склад', 'В пути')|safe }}
                    {% endif %}
                {% endif %}
                {% if not product.leftovers or (not product.is_available and not current_user.admin) %}
                    {{ get_str_property('На складе', 'Отсутствует', itemprop='availability')|safe }}
                {% else %}
                    {% if current_user.admin %}
                        {{ get_str_property('На складе', product.leftovers|string)|safe }}
                    {% else %}
                        {% if product.leftovers > 10 %}
                            {{ get_str_property('На складе', 'Много', itemprop='availability')|safe }}
                        {% else %}
                            {{ get_str_property('На складе', 'Мало', itemprop='availability')|safe }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </dl>
            <div class="kidscom" style="margin-bottom: 10px;">
               <a
                  target="_blank"
                  class="btn btn-primary"
                  href="http://kids-s.com/search/search_do/?search_string={{product.clear_name|replace(' ', '+')}}&search_types=49&x=-1084&y=-15">
                купить в розницу на kids-s.com
              </a>
            </div>
            <div class="toysland_tiu" style="margin-bottom: 10px;">
               <a
                  target="_blank"
                  class="btn btn-primary"
                  href="http://toysland.tiu.ru/site_search?search_term={{product.clear_name|replace(' ', '+')}}">
                купить в розницу на toysland.tiu.ru
              </a>
            </div>
            <div class="1c_interes" style="margin-bottom: 10px;">
                <a
                    target="_blank"
                    class="btn btn-primary"
                    href="http://www.1c-interes.ru/search/index.php?q={{product.clear_name_cp1251}}&s=Search">
                    купить в розницу в 1С Интерес
                </a>
            </div>
            <div class="toyzone" style="margin-bottom: 10px;">
                <a
                    target="_blank"
                    class="btn btn-primary"
                    href="http://toyszone.ru/advanced_search_result.php?search_in_description=1&keywords={{product.clear_name_cp1251|replace(' ', '+')}}">
                    купить в розницу в ToysZone.ru
                </a>
            </div>
            <div class="hobbymall" style="margin-bottom: 10px;">
               <a
                  target="_blank"
                  class="btn btn-primary"
                  href="http://geekzona.ru">
                купить в розницу на GeekZona
              </a>
            </div>
            <div class="multcult" style="margin-bottom: 10px;">
               <a
                  target="_blank"
                  class="btn btn-primary"
                  href="http://multcult.ru">
                купить в розницу на multcult.ru
              </a>
            </div>
            <div class="order_box">
            </div>

            <dl class="dl-horizontal">
                {{ get_str_property('Код 1C', product.id_1c)|safe }}
                {{ get_str_property('Артикул', product.catalogue_id, "mpn")|safe }}
                {{ get_str_property('Штрих-код', product.barcode, "gtin13")|safe }}
            </dl>

            <dl class="dl-horizontal" itemprop="brand" itemscope itemtype="http://schema.org/Organization">
                {{ get_str_property('Категория', product.category)|safe }}
                {{ get_str_property( 'Бренд', product.brand, 'name')|safe }}
            </dl>
            <dl class="dl-horizontal">
                {{ get_str_property('Страна-производитель', product.country)|safe }}
                {{ get_str_property('Материал', product.material)|safe }}
            </dl>
            <dl class="dl-horizontal" itemprop="height" itemscope itemtype="http://schema.org/QuantitativeValue">
              {{ get_str_property('Размер', product.size, 'value')|safe }}
            </dl>
            <dl class="dl-horizontal" itemprop="weight" itemscope itemtype="http://schema.org/QuantitativeValue">
              {{ get_str_property('Вес', product.weight, 'value')|safe }}
            </dl>
            <dl class="dl-horizontal">
              {{ get_str_property('Тип упаковки', product.box_material)|safe }}
              {{ get_str_property('Кол-во в упаковке', product.box_amount)|safe }}
            </dl>
            <dl class="dl-horizontal">
              {{ get_str_property('Размер упаковки', product.box_size)|safe }}
              {{ get_str_property('Вес упаковки', product.box_weight)|safe }}
            </dl>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $.get(
                    "{{ url_for('order.get_order_box', key_id=product.key.id()) }}",
                    function (data) {
                        $('.order_box').html(data);
                    }
            );
            var order_box = $(".order_box");
            order_box.delegate(".add_to_cart", "click", function () {
                var form = $(".order_box").find(".order_form");
                form.ajaxSubmit({
                    success: function (data) {
                        $('.order_box').html(data);
                        $.get('/order/cart_box/', function (data) {
                            $('.cart_box').html(data);
                        });
                    },
                    error: function (data) {
                        alert('Упс, что-то пошло не так, попробуйте сделать заказа чуть позже')
                    }
                });
                return false;
            });

            order_box.delegate(".remove_from_cart", "click", function () {
                var form = $(".order_box").find(".order_form");
                form.ajaxSubmit({
                    data: {'order_clear': 1},
                    success: function (data) {
                        $('.order_box').html(data);
                        $.get('/order/cart_box/', function (data) {
                            $('.cart_box').html(data);
                        });
                    },
                    error: function (data) {
                        alert('Упс, что-то пошло не так, попробуйте удалить предзаказ чуть позже')
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
