{% extends 'base.html' %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('pages.index') }}">
            Главная
        </a>
        <span class="divider"> &rarr; </span>
    </li>
    <li>
        <a href="{{ url_for('pages.catalogue') }}">Каталог</a>
        <span class="divider"> &rarr; </span>
    </li>
    {% if category %}
        <li>
            <a href="{{ url_for('pages.category', key_id=category.key.id()) }}">
                Категория «{{ category.name }}»
            </a>
            <span class="divider"> &rarr; </span>
        </li>
    {% endif %}
    <li class="active">
        {{ product.name }}
    </li>
{% endblock %}

{% block container %}
    {{ super() }}
    <div class="row">
        <div class="span12">
            {% if category %}
                <a class="btn"
                   href="{{ url_for('pages.category', key_id=category.key.id()) }}">
                    &larr; Перейти в каталог продукции
                </a>
            {% else %}
                <a class="btn" href="{{ url_for('pages.catalogue') }}">
                    &larr; Перейти в каталог продукции
                </a>
            {% endif %}
            <h2>{{ product.name }}</h2>
        </div>
        <div class="span6">
            {% if product.images %}
                <div style="height: 400px;width: 400px;">
                    <img class="img_preview" src="{{ product.images[0] }}=s400">
                </div>
                <br>
                <ul class="thumbnails">
                    {% for image in product.images %}
                        <li>
                            <a class="thumbnail"
                               href="#"
                               onclick="$('.img_preview').attr('src', '{{ image }}=s400'); return false;">
                                <img src="{{ image }}=s80">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <img src="/p/img/none/400x400.jpg" height="400" width="400">
            {% endif %}
            &nbsp;
        </div>
        <div class="span6">
            {% if current_user.admin %}
                <a class="btn btn-large"
                   href="{{ url_for('admin.product.edit', key_id=product.key.id()) }}">
                    Редактировать
                </a>
            {% endif %}
            <dl class="dl-horizontal">
                {{ get_str_property('Цена розничная', product.price_retail|string + ' pублей')|safe }}
                {% if current_user.is_order_box %}
                    {{ get_str_property('Цена оптовая', product.price_trade|string + ' pублей')|safe }}
                {% endif %}

                {% if product.leftovers_on_way %}
                    {% if current_user.admin %}
                        {{ get_str_property('Осаток в пути', product.leftovers_on_way|string + ' шт. в пути')|safe }}
                    {% else %}
                        {{ get_str_property('Поступление на склад', 'В пути')|safe }}
                    {% endif %}
                {% endif %}
                {% if not product.leftovers %}
                    {{ get_str_property('На складе', 'Отсуствует')|safe }}
                {% else %}
                    {% if current_user.admin %}
                        {{ get_str_property('На складе', product.leftovers|string)|safe }}
                    {% else %}
                        {% if product.leftovers > 10 %}
                            {{ get_str_property('На складе', 'Много')|safe }}
                        {% else %}
                            {{ get_str_property('На складе', 'Мало')|safe }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </dl>
            <div class="order_box">
            </div>

            <dl class="dl-horizontal">
                {{ get_str_property('Код 1C', product.id_1c)|safe }}
                {{ get_str_property('Артикул', product.catalogue_id)|safe }}
                {{ get_str_property('Штрих-код', product.barcode)|safe }}
            </dl>

            <dl class="dl-horizontal">
                {{ get_str_property('Категория', product.category)|safe }}
                {{ get_str_property('Бренд', product.brand)|safe }}
            </dl>


            <dl class="dl-horizontal">
                {{ get_str_property('Страна-производитель', product.country)|safe }}
                {{ get_str_property('Материал', product.material)|safe }}
                {{ get_str_property('Размер', product.size)|safe }}
                {{ get_str_property('Вес', product.weight)|safe }}
            </dl>

            <dl class="dl-horizontal">
                {{ get_str_property('Тип упаковки', product.box_material)|safe }}
                {{ get_str_property('Размер упаковки', product.box_size)|safe }}
                {{ get_str_property('Вес упаковки', product.box_weight)|safe }}
                {{ get_str_property('Кол-во в упаковке', product.box_amount)|safe }}
            </dl>

            <dl>
                {{ get_str_property('Описание', product.description)|safe }}
            </dl>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $.get(
                    "{{ url_for('order.get_order_box', key_id=product.key.id()) }}",
                    function (data) {
                        $('.order_box').html(data);
                    }
            );
            var order_box = $(".order_box");
            order_box.delegate(".add_to_cart", "click", function () {
                var form = $(".order_box").find(".order_form");
                form.ajaxSubmit({
                    success: function (data) {
                        $('.order_box').html(data);
                        $.get('/order/cart_box/', function (data) {
                            $('.cart_box').html(data);
                        });
                    },
                    error: function (data) {
                        alert('Упс, что-то пошло не так, попробуйте сделать заказа чуть позже')
                    }
                });
                return false;
            });

            order_box.delegate(".remove_from_cart", "click", function () {
                var form = $(".order_box").find(".order_form");
                form.ajaxSubmit({
                    data: {'order_clear': 1},
                    success: function (data) {
                        $('.order_box').html(data);
                        $.get('/order/cart_box/', function (data) {
                            $('.cart_box').html(data);
                        });
                    },
                    error: function (data) {
                        alert('Упс, что-то пошло не так, попробуйте удалить предзаказ чуть позже')
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}