{% extends 'base.html' %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('pages.index') }}">
            Главная
        </a>
        <span class="divider"> &rarr; </span>
    </li>
    <li class="active">
        Обратная связь
    </li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ title }}
            <small>Приветствуются любые воросы или предложения</small>
        </h1>
    </div>
    <div class="row">
        <div class="span6">
            {% include "feedback/form.html" %}
        </div>
        <div class="span6">
            <div class="well">
                <p>
                    Поле <strong>email</strong> является необязательным,
                    но если Вы желаете получить ответ на вопрос,
                    то заполните его, чтобы мы могли Вам ответить.
                </p>

            </div>
        </div>
    </div>
{% endblock %}
